# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb

# PDF gerado
# *.pdf

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db
